// Colors Utils

@use "variables" as *;

// Colors (Text & Background)
@each $name, $color in $theme-colors {
  .text-#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
}

.text-dual {
  background: linear-gradient(
    to right,
    var(--border-color) 50%,
    var(--accent-color) 50%
  ) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}

.bg-dual {
  background: linear-gradient(
    to right,
    var(--border-color) 50%,
    var(--accent-color) 50%
  ) !important;
}

.text-robux {
  background: linear-gradient(
    to bottom,
    #efe0a3 0%,
    #b8a569 50%,
    #efe0a3 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  color: transparent !important;
}

.bg-robux {
  background: linear-gradient(
    to bottom,
    #efe0a3 0%,
    #b8a569 50%,
    #efe0a3 100%
  ) !important;
}

.bg-splatter {
  background: var(--splatter-bg) !important;
}

.bg-splatter-red {
  background: var(--splatter-bg-red) !important;
}

.gradient-center {
  text-align: center;
  width: 100%;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(
      to right,
      transparent 0%,
      var(--theme-sticky-nav-background-color) 50%,
      transparent 100%
    );
  }
}
