// Float Utils

@use "variables" as *;

// Floats
$float-directions: "left", "right", "none";
@each $dir in $float-directions {
    .float-#{$dir} { float: $dir !important; }
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

@each $name, $breakpoint in $breakpoints {
    @media (min-width: #{$breakpoint}) {
        @each $dir in $float-directions {
            .float-#{$name}-#{$dir} { float: $dir !important; }
        }
    }
}

// Vertical Alignment
$vertical-aligns: "baseline", "top", "middle", "bottom", "text-top", "text-bottom";
@each $align in $vertical-aligns {
    .align-#{$align} { vertical-align: #{$align} !important; }
}