// Spacing Utils
// Spacing such as margin and padding

@use "variables" as *;
@use "sass:meta";

// Spacing (Margin & Padding)
$space-properties: (
  "m": "margin",
  "p": "padding",
);

$space-directions: (
  "t": "top",
  "b": "bottom",
  "s": "inline-start",
  "e": "inline-end",
);

@each $prop-abbr, $prop-full in $space-properties {
  // All sides: .m-1, .p-3
  @each $key, $value in $spacing-steps {
    .#{$prop-abbr}-#{$key} {
      #{$prop-full}: #{$value} !important;
    }
  }
  // Negative margins: .m-n1
  @if $prop-abbr == "m" {
    @each $key, $value in $spacing-steps {
      @if $value != 0 and meta.type-of($value) == "number" {
        .#{$prop-abbr}-n#{$key} {
          #{$prop-full}: calc(-1 * #{$value}) !important;
        }
      }
    }
  }

  // Axis: .mx-2, .py-4, .mx-n1
  .#{$prop-abbr}x-0 {
    #{$prop-full}-inline-start: 0 !important;
    #{$prop-full}-inline-end: 0 !important;
  }
  .#{$prop-abbr}y-0 {
    #{$prop-full}-top: 0 !important;
    #{$prop-full}-bottom: 0 !important;
  }

  @each $key, $value in $spacing-steps {
    @if $value != 0 {
      .#{$prop-abbr}x-#{$key} {
        #{$prop-full}-inline-start: #{$value} !important;
        #{$prop-full}-inline-end: #{$value} !important;
      }
      .#{$prop-abbr}y-#{$key} {
        #{$prop-full}-top: #{$value} !important;
        #{$prop-full}-bottom: #{$value} !important;
      }

      @if $prop-abbr == "m" and meta.type-of($value) == "number" {
        .#{$prop-abbr}x-n#{$key} {
          #{$prop-full}-inline-start: calc(-1 * #{$value}) !important;
          #{$prop-full}-inline-end: calc(-1 * #{$value}) !important;
        }
        .#{$prop-abbr}y-n#{$key} {
          #{$prop-full}-top: calc(-1 * #{$value}) !important;
          #{$prop-full}-bottom: calc(-1 * #{$value}) !important;
        }
      }
    }
  }

  // Individual sides: .mt-1, .ps-3, .mb-n2
  @each $dir-abbr, $dir-full in $space-directions {
    @each $key, $value in $spacing-steps {
      .#{$prop-abbr}#{$dir-abbr}-#{$key} {
        #{$prop-full}-#{$dir-full}: #{$value} !important;
      }

      @if $prop-abbr == "m" and $value != 0 and meta.type-of($value) == "number"
      {
        .#{$prop-abbr}#{$dir-abbr}-n#{$key} {
          #{$prop-full}-#{$dir-full}: calc(-1 * #{$value}) !important;
        }
      }
    }
  }
}

.mb-none > .article-media-thumbnail,
.mb-none > p {
  margin-bottom: 0 !important;
}

.skin-fandommobile .px-none {
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
  }
}
