// Typography Utils

@use "variables" as *;

// Text Properties
$text-align: (
  "start": start,
  "end": end,
  "center": center,
  "justify": justify,
  "match": match-parent,
);

$text-transform: (
  "lowercase": lowercase,
  "uppercase": uppercase,
  "capitalize": capitalize,
  "full": full-width,
);

$line-heights: (
  "0": 0,
  "1": 1,
  "2": 1.25,
  "3": 1.5,
  "4": 2,
  "5": 2.5,
  "6": 3,
);

@each $key, $value in $text-align {
  .text-#{$key} {
    text-align: $value !important;
  }
}

@each $key, $value in $text-transform {
  .text-#{$key} {
    text-transform: $value !important;
  }
}

@each $key, $value in $line-heights {
  .lh-#{$key} {
    line-height: $value !important;
  }
}

.text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
}

// Text Direction
.ltr {
  direction: ltr !important;
}
.rtl {
  direction: rtl !important;
}

// Typography (Font Size & Weight)
$font-sizes: (
  "1": 2.5rem,
  "2": 2rem,
  "3": 1.75rem,
  "4": 1.65rem,
  "5": 1.5rem,
  "6": 1.25rem,
  "7": 1rem,
  "8": 0.75rem,
  "9": 0.5rem,
);

$font-weights: (
  "lighter": lighter,
  "normal": normal,
  "bold": bold,
  "bolder": bolder,
  "100": 100,
  "200": 200,
  "300": 300,
  "400": 400,
  "500": 500,
  "600": 600,
  "700": 700,
  "800": 800,
  "900": 900,
);

@each $key, $value in $font-sizes {
  .fs-#{$key} {
    font-size: $value !important;
  }
}

@each $key, $value in $font-weights {
  .fw-#{$key} {
    font-weight: $value !important;
  }
}
