// Variables

// Colors
:root {
  --ego-primary: #e63946;
  --ego-secondary: #6c757d;
  --ego-success: #198754;
  --ego-danger: #ff192f;
  --ego-warning: #ffc107;
  --ego-info: #0dcaf0;
  --ego-light: #f8f9fa;
  --ego-dark: #212529;
  --ego-white: #fff;
  --ego-black: #000;
}

// Theme Colors Map
$theme-colors: (
  "primary": var(--ego-primary),
  "secondary": var(--ego-secondary),
  "success": var(--ego-success),
  "danger": var(--ego-danger),
  "warning": var(--ego-warning),
  "info": var(--ego-info),
  "light": var(--ego-light),
  "dark": var(--ego-dark),
  "white": var(--ego-white),
  "black": var(--ego-black),
  "nav-text": var(--theme-sticky-nav-text-color),
  "nav-bg": var(--theme-sticky-nav-background-color),
  "border": var(--border-color),
  "link": var(--theme-link-color),
);

// Layout
$border-radius: 3px;
$gutter-x: 1rem;
$gutter-y: 0;

// Breakpoints
// This is the screen size at which the layout will change
$breakpoints: (
  sm: 360px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Spacing
$spacing-steps: (
  "0": 0,
  "1": $gutter-x * 0.25,
  "2": $gutter-x * 0.5,
  "3": $gutter-x,
  "4": $gutter-x * 1.5,
  "5": $gutter-x * 3,
  "6": $gutter-x * 5,
  "auto": auto,
);
